@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@* @inject UserManager<Usuario> UserManager *@

@{

}


<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/app_movie_mvc.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg class="me-2 text-primary" width="32" height="32" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <!-- Claqueta -->
                        <rect x="3" y="6" width="18" height="13" rx="2" ry="2"></rect>
                        <path d="M3 9h18" fill="none" stroke="currentColor" stroke-width="1.5"></path>
                        <!-- Rayas superiores -->
                        <path d="M6 6l2-3M11 6l2-3M16 6l2-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
                        <!-- Play -->
                        <polygon points="11,11 11,16 16,13.5" fill="#000"></polygon>
                    </svg>
                    <span class="fs-5 fw-bold">MovieApp</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (User?.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Genero" asp-action="Index">Generos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Plataforma" asp-action="Index">Plataformas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Pelicula" asp-action="Index">Peliculas</a>
                            </li>
                        }
                    </ul>
                </div>


                <ul class="navbar-nav flex-grow">
                    @if (SignInManager.IsSignedIn(User)) 
                    {
                        <li class="nav-item">
                            <a class="btn btn-primary" asp-area="" asp-controller="Usuario" asp-action="MiPerfil">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <form asp-area="" asp-controller="Usuario" asp-action="Logout" method="post" class="d-inline">

                                <button type="submit" class="btn btn-link nav-link text-white">Cerrar sesión</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Usuario" asp-action="Login">Iniciar sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Usuario" asp-action="Registro">Registrarse</a>
                        </li>
                    }
                </ul>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - app_movie_mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
