html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: radial-gradient( 1200px 500px at 50% 0%, rgba(13,110,253,.08), rgba(0,0,0,.75) );
    margin: 0;
}


/* Focus accesible pero más sobrio que el default */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus,
.form-control:focus, .form-select:focus, .form-check-input:focus {
    box-shadow: 0 0 0 .15rem rgba(13,110,253,.25);
}

/* Imágenes y links */
img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

/* Form-floating (si lo usás) */
.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
}
